# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.


### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tpl = tuple(range(0,11))
print(tpl)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [6]:
print(f"first element: {tpl[0]}")
print(f"middle element: {tpl[len(tpl)//2]}")
print(f"Last element: {tpl[-1]}")

first element: 0
middle element: 5
Last element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [8]:
print(tpl[0:3])
print(tpl[-3:])
print(tpl[2:6])

(0, 1, 2)
(8, 9, 10)
(2, 3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [11]:
tpl = ((1,2,3),('a','b','hello'),(45,55,66))

for sub_tuple in tpl:
    print(sub_tuple)

print(tpl[1][2])

(1, 2, 3)
('a', 'b', 'hello')
(45, 55, 66)
hello

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [12]:
tup1 = (1,2,3)
tup2 = (4,5,6)

print(tup1+tup2)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [18]:
tup = (1,2,3,4,4,5,6,7)

print(tup.count(4))
print(tup.index(4))

2
3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [22]:
tup3 = (1,2,3,4,'a')

a,b,c,d,e = tup3
print(a)
print(b)
print(c)
print(d)
print(e)

# or

print(a, b, c, d, e)

1
2
3
4
a
1 2 3 4 a

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [24]:
lst= [1,2,3,4,5]
print(type(lst))
tup = tuple(lst)
print(tup)
print(type(tup))

<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [29]:
tup_of_tuples= ((1,2,3),(4,5,6),(7,8,9))
print(tup_of_tuples)
print("  ")
for sub_tuple in tup_of_tuples:
    print(sub_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [33]:
tup = (1,2,3,4,5)
lst = list(tup)
lst.append(6)
tup2 = tuple(lst)
print(tup2)
print(type(tup2))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [34]:
tup = ('a','d','i','t','y','a')
conc =''
for i in tup:
    conc +=i
print(conc)

aditya

In [36]:
string = "aditya"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

aditya

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [1]:
tpl_dict = {
    ('john'): 3,
    ('mary'): 6,
    ('sam'): 4
}
print(tpl_dict)

{'john': 3, 'mary': 6, 'sam': 4}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [40]:
tup_of_tuples= ((1,2,3),(4,5,6),(7,8,9))
print("  ")
for sub_tuple in tup_of_tuples:
    for sub in sub_tuple:
        print(sub)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [3]:
tup = (1,1,2,3,4,56,7,7,9,9,11,11,100,100)
my_set = set(tup)
print(my_set)

{1, 2, 3, 4, 100, 7, 9, 11, 56}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [6]:
def maximumm(tup):
    return max(tup)

def minimum(tup):
    return min(tup)

def sum_of_tuple(tup):
    return sum(tup)

tp = (1,2,3,4,5)
print(f"Minimum: {maximumm(tp)}")
print(f"Maximum: {minimum(tp)}")
print(f"Sum: {sum_of_tuple(tp)}")

Minimum: 5
Maximum: 1
Sum: 15