#### SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

SQlite is a lightweight version of SQL without any configuration. Can create this database and store it in local system. thus, it is widely used for embeedded database system.

In [45]:
import sqlite3

In [46]:
# connecting to SQlite databse
connection = sqlite3.connect('example.db')
connection

In [47]:
cursor=connection.cursor()  # make a cursor object to iterate through all the tables, rows, etc

In [48]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [49]:
cursor.execute('''
Select * from employees
    
''')

In [50]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Aditya',19,'Data Scientist')

''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commi the changes
connection.commit()

In [51]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Aditya', 20, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Aditya', 20, 'Data Scientist')
(5, 'Bob', 25, 'Engineering')
(6, 'Charlie', 35, 'Finance')
(7, 'Aditya', 19, 'Data Scientist')
(8, 'Bob', 25, 'Engineering')
(9, 'Charlie', 35, 'Finance')

In [52]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age=20
where name="Aditya"
''')

connection.commit()

In [53]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Aditya', 20, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Aditya', 20, 'Data Scientist')
(5, 'Bob', 25, 'Engineering')
(6, 'Charlie', 35, 'Finance')
(7, 'Aditya', 20, 'Data Scientist')
(8, 'Bob', 25, 'Engineering')
(9, 'Charlie', 35, 'Finance')

In [54]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name ='Bob'
''')

connection.commit()

In [55]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Aditya', 20, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Aditya', 20, 'Data Scientist')
(6, 'Charlie', 35, 'Finance')
(7, 'Aditya', 20, 'Data Scientist')
(9, 'Charlie', 35, 'Finance')

In [61]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [57]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')
(6, '2023-01-01', 'Product1', 100, 'North')
(7, '2023-01-02', 'Product2', 200, 'South')
(8, '2023-01-03', 'Product1', 150, 'East')
(9, '2023-01-04', 'Product3', 250, 'West')
(10, '2023-01-05', 'Product2', 300, 'North')
(11, '2023-01-01', 'Product1', 100, 'North')
(12, '2023-01-02', 'Product2', 200, 'South')
(13, '2023-01-03', 'Product1', 150, 'East')
(14, '2023-01-04', 'Product3', 250, 'West')
(15, '2023-01-05', 'Product2', 300, 'North')

In [58]:
## close the connection
connection.close()

In [59]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.

SQL databases, also known as relational databases, are systems that store collections of tables and organize structured sets of data in a tabular columns-and-rows format, similar to that of a spreadsheet.

why it is also called relational database? 
because it organizes data into tables where each row represents a record with related attributes