# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [11]:
import pandas as pd
import numpy as np

# creating the pandas dataframe
df = pd.DataFrame(np.random.randint(1,30,size=(6,4)),columns = ['A','B','C','D'])
print("original dataframe: ")
print(df)

#  set the index to be the first column
df.set_index('A',inplace=True)
print("changed dataframe: \n ")
print(df)


# A was before column name , but now it is column index
# so instead of 0 as index , we now write A

original dataframe:
    A   B   C   D
0  20  26  26  13
1   4  12  29  29
2  21  22  22  20
3   2   3   6  19
4  23  27   5  11
5   3   1   9   3
changed dataframe:

     B   C   D
A
20  26  26  13
4   12  29  29
21  22  22  20
2    3   6  19
23  27   5  11
3    1   9   3

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [ ]:

#   syntax =>  df.at['index_label', 'column_label']

df = pd.DataFrame(np.random.randint(1,30,size=(3,4)),columns = ['A','B','C','D'],index=['X','Y','Z'])
print("original dataframe: ")
print(df)

# accessing the element 
element = df.at['Y','B']
print(f"the element is : {element}")

original dataframe:
    A   B   C   D
X   6   1  15   3
Y   2  25   3   1
Z  20  24  13  20
the element is : 25

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [30]:
df = pd.DataFrame(np.random.randint(1,5,size=(3,5)))
print("original dataframe: ")
print(df)

# cal the prodcut 
product = df[0] * df[1]

# adding a 5th column containing the product of the first two columns of the df
df['5'] = product
print("\n new dataframe after product: ")
print(df)

original dataframe:
   0  1  2  3  4
0  2  2  3  2  1
1  1  4  1  3  4
2  2  1  1  4  2

 new dataframe after product:
   0  1  2  3  4  5
0  2  2  3  2  1  4
1  1  4  1  3  4  4
2  2  1  1  4  2  2

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [33]:
'''Axis 0 (Rows):
Think of axis 0 as the "vertical" axis that runs along the rows.
Operations that use axis=0 will be applied down the rows.
When you sum with axis=0, you are summing each column's values.

Axis 1 (Columns):
Think of axis 1 as the "horizontal" axis that runs along the columns.
Operations that use axis=1 will be applied across the columns.
When you sum with axis=1, you are summing each row's values.'''


df = pd.DataFrame(np.random.randint(1,5,size=(3,4)))
print("original dataframe: ")
print(df)

row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print(f"the row sum is : \n {row_sum}")
print(f"the column sum is : \n {column_sum}")

original dataframe:
   0  1  2  3
0  3  3  3  1
1  4  2  2  4
2  2  2  4  1
the row sum is :
 0    10
1    12
2     9
dtype: int64
the column sum is :
 0    9
1    7
2    9
3    6
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [ ]:
df = pd.DataFrame(np.random.randint(1,20,size=(3,4)))
print("original dataframe: ")
print(df)

df[df>10] = np.nan
print(f"\nDataframe after replacing values greater than 10 with NaN: \n{df}")

# filling the mean
df_new = df.fillna(df.mean()).astype(int)  # default axis =0 , means mean of the column
print(f"new dataframe with nan replace with mean: \n {df_new}")

original dataframe:
    0   1   2   3
0   3   1   7  17
1  19  17  15   4
2   6  13   5   4

Dataframe after replacing values greater than 10 with NaN:
     0    1    2    3
0  3.0  1.0  7.0  NaN
1  NaN  NaN  NaN  4.0
2  6.0  NaN  5.0  4.0
new dataframe with nan replace with mean:
    0  1  2  3
0  3  1  7  4
1  4  1  6  4
2  6  1  5  4